body {
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    background-color: lightgreen;
    padding: 25px;
    font-size: 1.25em;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 25px;
}

.hero-container button {
    background-color: aqua;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}

.hero-container img {
    width: 100%;
    height: 400px;
    border-radius: 25px;
}




